$blue: #4051b6;
$darkBlue: darkblue;
$pokemon-gradient: linear-gradient(to bottom right, #ff0000 1%, #ff9999 101%);
$primary-gradient-color: linear-gradient(to bottom right, #0066cc 1%, #4051b6 101%);



$min-width-xs: 320px;
$max-width-xs: 480px;

$min-width-sm: 481px;
$max-width-sm: 768px;

$min-width-md: 769px;
$max-width-md: 1024px;

$min-width-lg: 1025px;
$max-width-lg: 1200px;

$min-width-xg: 1201px;
$max-width-xg: 1600px;