@import "./src/assets/scss/variables";

.card-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid $blue;
  padding: 0.5em;
}
.redirect-details {
  margin: 1.5em;
}


@media screen and (max-width: $max-width-sm) {
  .card-title {
    font-size: 1.5rem;
    padding: 0.5em;
  }
  .redirect-details {
    margin: 1.5em 0.5em;
  }
}
